.content.svelte-1e20nmu h2{margin-bottom:1rem;font-size:1.25rem;line-height:1.75rem
}@media(min-width: 768px){.content.svelte-1e20nmu h2{font-size:1.5rem;line-height:2rem
    }}.content.svelte-1e20nmu ul li{margin-top:0.25rem;margin-bottom:0.25rem;list-style-position:inside;list-style-type:disc
}.content.svelte-1e20nmu p,.content.svelte-1e20nmu pre{margin-bottom:1rem
}.content.svelte-1e20nmu pre{overflow-x:auto
}.content.svelte-1e20nmu code{display:inline-block;border-radius:0.25rem;--tw-bg-opacity:1;background-color:rgb(229 231 235 / var(--tw-bg-opacity));padding:0.5rem
}.content.svelte-1e20nmu hr{margin-top:1rem;margin-bottom:1rem;--tw-border-opacity:1;border-color:rgb(229 231 235 / var(--tw-border-opacity))
}