<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.png" />
  <meta name="viewport" content="width=device-width" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Chivo:wght@300;400;700&display=swap" rel="stylesheet" />
  <meta property="og:image" content="/favicon.png" />
  <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
  {{ partial "head.html" . }}
  {{ block "head" . }}{{ end }}
</head>
<body>
  <div class="app">
    <div class="page-wrap" id="page-wrap">
      <div class="offcanvas-nav">
        {{ partial "nav.html" . }}
      </div>
      {{ partial "header.html" . }}
      <main>
        {{ block "main" . }}{{ end }}
      </main>
      {{ partial "footer.html" . }}
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.12.2/lottie.min.js"></script>
  {{ $js := resources.Get "js/main.js" | minify | fingerprint }}
  <script src="{{ $js.RelPermalink }}"></script>
</body>
</html>
