{{ $hero := .Site.GetPage "/" }}
<section class="hero mt-16 md:mt-24 lg:mt-32 relative">
  <div class="grid grid-cols-12 gap-x-8">
    <div class="col-span-full md:col-span-8 lg:col-span-6">
      <div class="max-w-[512px] relative z-10">
        <div class="font-bold text-6xl mb-6">
          Hi, I’m Shuvo 👋
        </div>
        <h1 class="mb-4 text-4xl font-normal">
          {{ $hero.Title }}
        </h1>
        <div class="text-opacity-70 mb-4">
          {{ $hero.Content }}
        </div>
        <div>Core technologies:</div>
        <ul class="grid grid-cols-2 gap-2 mt-6">
          {{ range $hero.Params.techs }}
            <li class="before:content-['➪'] before:text-primary before:mr-2 font-light">{{ . }}</li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
  <div class="hero-lottie" id="lottie-container"></div>
</section>
